.empty {
  position: absolute;
  top: 30%;
  left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.empty .fill-btn {
  background-color: rgba(222, 184, 135, 0.8);
  color: azure;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .empty {
    left: 40%;
  }
}

@media only screen and (max-width: 530px) {
  .empty {
    left: 30%;
  }
  .empty h1 {
    font-size: 20px;
  }
}

section .btn-section {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 820px) {
  section .btn-section {
    margin-right: 20px;
  }
}

section .btn-section button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

section .btn-section button:hover {
  opacity: 0.5;
}

section .btn-section .link {
  background-color: burlywood;
  color: #fff;
  border: none;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

section .btn-section .link:hover {
  opacity: 0.5;
}

section .main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 820px) {
  section .main-div {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  section .main-div h5 {
    font-size: 0.6rem;
  }
}

section .main-div .color-span {
  border-radius: 15px;
  margin-left: 3px;
}

section .main-div .remove-btn {
  background-color: lightcoral;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

section .main-div .counter {
  margin-right: 5%;
  margin-left: 5%;
}

section .main-div .counter button {
  background: transparent;
  font-size: 2.5rem;
  color: #000;
  font-weight: bolder;
  border: none;
  margin-left: 10px;
}

section .main-div .counter span {
  font-size: 2.5rem;
  color: #000;
}

@media only screen and (max-width: 820px) {
  section .main-div .counter {
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  section .main-div .counter button {
    font-size: 1.5rem;
    margin-left: 6px;
  }
  section .main-div .counter span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  section .main-div .counter {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  section .main-div .counter button {
    font-size: 1rem;
    margin-left: 5px;
  }
  section .main-div .counter span {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 530px) {
  section .main-div .counter {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  section .main-div .counter span {
    font-size: 0.75rem;
  }
}

section .main-div h5 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 10%;
}

section .main-div .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

section .main-div .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .main-div .title img {
  border-radius: 5px;
  width: 10rem;
  height: 10rem;
}

@media only screen and (max-width: 530px) {
  section .main-div .title img {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 430px) {
  section .main-div .title img {
    width: 2.75rem;
    height: 2.75rem;
  }
}

.final-details {
  position: fixed;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 1rem;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 20%;
  height: 22.5%;
  margin-top: 1rem;
}

@media only screen and (max-width: 1200px) {
  .final-details {
    margin-right: 2rem;
    width: 30%;
    height: 24%;
  }
  .final-details h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 820px) {
  .final-details h3 {
    font-size: 19px;
  }
  .final-details p {
    font-size: 15px;
  }
  .final-details h1 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .final-details {
    margin-right: 2rem;
    width: 30%;
  }
  .final-details h3 {
    font-size: 16px;
  }
  .final-details p {
    font-size: 11px;
  }
  .final-details h1 {
    font-size: 11px;
    margin-top: 0.2rem;
  }
}

.final-details button {
  background-color: rgba(222, 184, 135, 0.8);
  color: #fff;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 15%;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .final-details button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .final-details button {
    width: 80%;
    height: 12.5%;
    font-size: 12px;
    margin-top: 5px;
  }
}

.final-details button:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=cartPage.css.map */