@import '../global.scss';
.single-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .btn:hover,.link:hover {
        opacity: 0.5;
    }
}
.img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    @media only screen and(max-width:620px){
        display: flex;
        flex-direction: row;
    }
    .link-container {
        margin: 1rem;
        @media only screen and(max-width:620px){
            margin: 0.1rem;
        }

        .link {
            border-radius: 3px;
            padding: 10px;
            font-weight: bolder;
            color: $color-white;
            background-color: $color-burlywood;
            text-decoration: none;
        }
        @media only screen and(max-width:620px){
           .link {
               padding: 5px;
           }
        }
    }
    .main-img {
        width: 50%;
        height: 50%;
    }
    .small-img{
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and(max-width:620px){
            display: flex;
            flex-direction: column;
            
        }


        .small-img-container {
            margin: 10px;
            @media only screen and(max-width:620px){
                
                margin: 5px;
            }
    
        }
    }
    img {
        cursor: pointer;
        border-radius: 5px;
        width: 85px;
        height: 50px;
    }
    @media only screen and(max-width:1020px){
        img {
            width: 45px;
            height: 25px;
        }
    }
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    .detail-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px silver solid;
    }
    .bottom-details {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            align-items: center;
        }
        .btn {
            background-color: $color-burly-opacity;
            color: $color-white;
            text-transform: uppercase;
            border: none;
            border-radius: 3px;
            width: 25%;
            padding: 0.4rem;
            cursor: pointer;
            font-weight: bolder;
            margin: 1rem;
            text-decoration: none;
            text-align: center;
        }
       
        .color-btn {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: #222;
            margin-right: 0.5rem;
            border: none;
            cursor: pointer;
            opacity: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .active {
            opacity: 1;
        }
    }
    .counter {
        display: flex;
        justify-content: start;
        align-items: center;
        span {
            color: $color-black;
            font-size:2.5rem;
        }
        .counter-btn {
            color: $color-black;
            margin: 1rem;
            font-size:2.5rem;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }
    @media only screen and(max-width:1020px){
        
            width: 35%;
       h1 {
           font-size: 16px;
       }
       span {
        font-size: 12px;

       }
       p {
        font-size: 12px;
       }
       .bottom-details .btn {
           width: 15%;
           padding: 0.2rem;
           font-size: 10px;
           font-weight: lighter;
       }
    }
    @media only screen and(max-width:620px){
        h1 {
            font-size: 8px;
        }
        p {
            font-size: 10px;
        }
        h5 {
            font-size: 11px;
        }
        .bottom-details .btn {
            margin: 0.25rem;
        }
    }
    
}
